1. Data exploration and visualization

Explore dataset

Choose important features and visualize them according to survival/non-survival


2. Data cleaning, Feature selection and Feature engineering

Null values

Encode categorical data

Transform features

3. Test different classifiers

Logistic Regression (LR)

K-NN

Support Vector Machines (SVM)

Naive Bayes

Random Forest (RF)

Appliances energy prediction Data Set
The data set is at 10 min for about 4.5 months. 
The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network.
Each wireless node transmitted the temperature and humidity conditions around 3.3 min. 
Then, the wireless data was averaged for 10 minutes periods. 
The energy data was logged every 10 minutes with m-bus energy meters. 
Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters).

https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv

In [5]:
pip install -U scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/f8/74/273c03e5a3b9aa0881812dd36c3f5a25f92177c96219d1d110ed96673a34/scikit_learn-1.0.2-cp37-cp37m-macosx_10_13_x86_64.whl (7.8MB)
     |████████████████████████████████| 7.9MB 4.9MB/s eta 0:00:01     |███████████████████▉            | 4.9MB 4.6MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/61/cf/6e354304bcb9c6413c4e02a747b600061c21d38ba51e7e544ac7bc66aecc/threadpoolctl-3.1.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /opt/anaconda3/lib/python3.7/site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: scipy>=1.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from scikit-learn) (1.3.1)
Requirement already satisfied, skipping upgrade: numpy>=1.14.6 in /opt/anaconda3/lib/python3.7/site-packages (from scikit-learn) (1.17.2)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.21.3
    Uninstalling scikit-learn-0.21.3:
      Successfully uninstalled scikit-learn-0.21.3
Successfully installed scikit-learn-1.0.2 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np
#import scikit-learn as sklearn
from sklearn.linear_model import LinearRegression

In [17]:
raw_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [18]:
raw_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [19]:
df_d.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [20]:
#Null values`
raw_df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [10]:
raw_df.isnull().values.any()

False

In [11]:
raw_df.isnull().sum().sum()

0

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [14]:
X=raw_df[['Appliances']]
Q1 = X.quantile(0.25)
Q3 = X.quantile(0.75)
IQR = Q3 - Q1
print("Outlier threshold of Appliances ",IQR)

Outlier threshold of Appliances  Appliances    50.0
dtype: float64

In [23]:
pip install cookiecutter

Collecting cookiecutter
  Using cached https://files.pythonhosted.org/packages/64/4f/66a92457a729104db896321135e05b0cf94a9034fd5345f30d4d8386b957/cookiecutter-2.1.1-py2.py3-none-any.whl
Collecting pyyaml>=5.3.1 (from cookiecutter)
  Using cached https://files.pythonhosted.org/packages/9d/f6/7e91fbb58c9ee528759aea5892e062cccb426720c5830ddcce92eba00ff1/PyYAML-6.0-cp37-cp37m-macosx_10_9_x86_64.whl
Requirement already satisfied: python-slugify>=4.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from cookiecutter) (8.0.1)
Requirement already satisfied: jinja2-time>=0.2.0 in /opt/anaconda3/lib/python3.7/site-packages (from cookiecutter) (0.2.0)
Requirement already satisfied: Jinja2<4.0.0,>=2.7 in /opt/anaconda3/lib/python3.7/site-packages (from cookiecutter) (2.10.3)
Requirement already satisfied: binaryornot>=0.4.4 in /opt/anaconda3/lib/python3.7/site-packages (from cookiecutter) (0.4.4)
Requirement already satisfied: requests>=2.23.0 in /opt/anaconda3/lib/python3.7/site-packages (from cookiecutter) (2.28.2)
Requirement already satisfied: click<9.0.0,>=7.0 in /opt/anaconda3/lib/python3.7/site-packages (from cookiecutter) (7.0)
Requirement already satisfied: text-unidecode>=1.3 in /opt/anaconda3/lib/python3.7/site-packages (from python-slugify>=4.0.0->cookiecutter) (1.3)
Requirement already satisfied: arrow in /opt/anaconda3/lib/python3.7/site-packages (from jinja2-time>=0.2.0->cookiecutter) (1.2.3)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from Jinja2<4.0.0,>=2.7->cookiecutter) (1.1.1)
Requirement already satisfied: chardet>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from binaryornot>=0.4.4->cookiecutter) (3.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.23.0->cookiecutter) (2.8)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.23.0->cookiecutter) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.23.0->cookiecutter) (2019.9.11)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.23.0->cookiecutter) (1.26.5)
Requirement already satisfied: python-dateutil>=2.7.0 in /opt/anaconda3/lib/python3.7/site-packages (from arrow->jinja2-time>=0.2.0->cookiecutter) (2.8.0)
Requirement already satisfied: typing-extensions; python_version < "3.8" in /opt/anaconda3/lib/python3.7/site-packages (from arrow->jinja2-time>=0.2.0->cookiecutter) (4.5.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.0->arrow->jinja2-time>=0.2.0->cookiecutter) (1.12.0)
Installing collected packages: pyyaml, cookiecutter
  Found existing installation: PyYAML 5.1.2
ERROR: Cannot uninstall 'PyYAML'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.
Note: you may need to restart the kernel to use updated packages.

NameError: name 'mkvirtualenv' is not defined

In [23]:

#Create a list for feature and target column
All_ColumnNames = raw_df.columns
Target_ColumnNames = ['Appliances']
Feature_ColumnNames = ['lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']
Misc_ColumnNames = ['date']

In [24]:
print(All_columnNames)
print(Target_ColumnNames)
print(Feature_ColumnNames)
print(Misc_ColumnNames)

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')
['Appliances']
['lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2']
['date']

In [25]:
#EDA Steps 1. INfo of DataSet  2. Find % of Missing Values in. each column  3.Find  distribution of each variable  
#4.Find Correlation btw variables 5.Relation btw target and feature variable

In [26]:
#feature Data set
feature_df = raw_df[Feature_ColumnNames]
feature_df.head()

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [32]:
#split raw_df data btw training and testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_df, raw_df[Target_ColumnNames], test_size = 0.20, random_state = 0 )

In [46]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

num_transformer = Pipeline([
    ('num_imputer', SimpleImputer(strategy='median'))
    ])

char_transformer = Pipeline([
    ('char_imputer', SimpleImputer(strategy='most_frequent')),
    ('OHE',OneHotEncoder(handle_unknown='error',drop='first', sparse =False)),
    ])

scale_transformer = Pipeline([
    ('scaler', StandardScaler())
    ])
#OHE_transformer = OneHotEncoder(handle_unknown='error',drop='first', sparse =False)


#from sklearn.preprocessing import OneHotEncoder
#OH_encoder = OneHotEncoder(handle_unknown='error',drop='first', sparse=False)
#OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(df_train[final_char_feat_names]))
#OH_col_names = OH_encoder.get_feature_names(final_char_feat_names)
#OH_col_names

preprocessor = ColumnTransformer(
    transformers=[
         ("num", num_transformer, Feature_ColumnNames),
        ("scaler",scale_transformer,Feature_ColumnNames)
    ]
)

In [47]:
prepfit = preprocessor.fit(x_train)
#df_preprocessed = pd.DataFrame(prepfit.transform(df_train))
#new_col_names = [*char2num_feat_names,*final_num_feat_names,*list(OH_col_names)]
data = prepfit.transform(x_train)
#print(final_char_feat_names)
#print(OH_col_names)
#print(data.shape)
#print(len(new_col_names))
#mydf = pd.DataFrame(data)
#mydf.columns = new_col_names

#print(df_train[char2num_feat_names])
#mydf.info()

In [48]:
#print(data)
print(pd.DataFrame(data))

         0          1          2          3          4          5          6   \
0       0.0  22.100000  35.900000  19.600000  38.090000  21.890000  35.500000
1      20.0  20.600000  38.230000  18.100000  40.790000  21.000000  37.000000
2       0.0  19.890000  36.900000  16.890000  40.626667  20.290000  37.326667
3       0.0  21.890000  38.966667  22.696667  37.766667  22.963333  37.590000
4       0.0  19.856667  43.760000  19.260000  43.290000  20.000000  44.590000
...     ...        ...        ...        ...        ...        ...        ...
15783  30.0  22.790000  44.700000  21.600000  43.500000  23.100000  40.790000
15784   0.0  24.033333  44.860000  22.390000  45.290000  26.700000  40.245000
15785   0.0  21.666667  36.090000  19.000000  38.863333  22.033333  35.933333
15786   0.0  21.890000  41.900000  20.790000  42.500000  23.200000  38.290000
15787   0.0  20.890000  43.760000  20.600000  42.760000  20.290000  44.663333

              7          8          9   ...        44        45        46  \
0      20.790000  34.790000  18.600000  ... -0.081635 -1.067121 -0.409018
1      20.600000  36.500000  18.290000  ... -1.023339 -1.106492 -1.374955
2      20.133333  35.590000  17.760000  ... -1.041544 -0.511096 -1.274598
3      21.823333  38.126667  20.452857  ...  1.227481 -1.065514  1.165334
4      16.600000  46.290000  16.720000  ... -1.587699  1.570178  0.318571
...          ...        ...        ...  ...       ...       ...       ...
15783  22.390000  43.066667  21.200000  ...  0.714427  0.042518  1.187287
15784  24.500000  42.200000  22.390000  ...  1.594894  1.071805  1.190423
15785  20.463333  34.863333  18.500000  ... -0.048535 -0.593857 -0.399610
15786  20.290000  42.400000  19.890000  ...  0.254333  0.163043  1.155925
15787  18.890000  45.060000  17.700000  ... -1.554599  1.230096 -0.227121

             47        48        49        50        51        52        53
0      0.941875  0.237467 -0.423272 -1.155932 -0.278613  1.373987  1.373987
1     -0.209045  1.224604 -1.241299  0.989590 -0.946638  0.953110  0.953110
2     -0.218072  0.484251 -1.173130  2.259965 -1.224981 -1.465673 -1.465673
3     -0.770965 -1.602198  0.803769 -0.873626  0.270121  1.387869  1.387869
4      0.562748  0.147727  2.371655  0.142674  0.560393  1.145109  1.145109
...         ...       ...       ...       ...       ...       ...       ...
15783 -0.687467  0.046770 -1.377637  0.142674  1.586288  0.561167  0.561167
15784  0.007599  0.372077 -0.423272  1.469510  1.789081 -0.056893 -0.056893
15785  0.914794  0.035552 -0.423272 -1.297085 -0.385974  0.340262  0.340262
15786 -0.473080 -0.558973  0.940107  0.142674  1.097199  0.954780  0.954780
15787 -0.421176  0.102857  0.803769  0.142674 -0.127513 -1.267575 -1.267575

[15788 rows x 54 columns]

In [37]:
x_train

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
9830,0,22.100000,35.900000,19.600000,38.090000,21.890000,35.500000,20.790000,34.790000,18.600000,...,19.323333,37.126667,5.233333,762.500000,83.333333,3.000000,24.666667,2.600000,44.946784,44.946784
8112,20,20.600000,38.230000,18.100000,40.790000,21.000000,37.000000,20.600000,36.500000,18.290000,...,17.426667,36.963333,0.100000,754.000000,98.000000,1.000000,50.000000,-0.200000,38.843556,38.843556
8423,0,19.890000,36.900000,16.890000,40.626667,20.290000,37.326667,20.133333,35.590000,17.760000,...,17.390000,39.433333,0.633333,753.933333,87.000000,1.166667,65.000000,-1.366667,3.768233,3.768233
13059,0,21.890000,38.966667,22.696667,37.766667,22.963333,37.590000,21.823333,38.126667,20.452857,...,21.960000,37.133333,13.600000,749.850000,56.000000,6.000000,28.000000,4.900000,45.148091,45.148091
2639,0,19.856667,43.760000,19.260000,43.290000,20.000000,44.590000,16.600000,46.290000,16.720000,...,16.290000,48.067500,9.100000,759.700000,82.000000,9.833333,40.000000,6.116667,41.627775,41.627775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,30,22.790000,44.700000,21.600000,43.500000,23.100000,40.790000,22.390000,43.066667,21.200000,...,20.926667,41.730000,13.716667,750.466667,80.500000,0.666667,40.000000,10.416667,33.159902,33.159902
19648,0,24.033333,44.860000,22.390000,45.290000,26.700000,40.245000,24.500000,42.200000,22.390000,...,22.700000,46.000000,13.733333,755.600000,85.333333,3.000000,55.666667,11.266667,24.197280,24.197280
9845,0,21.666667,36.090000,19.000000,38.863333,22.033333,35.933333,20.463333,34.863333,18.500000,...,19.390000,39.090000,5.283333,762.300000,80.333333,3.000000,23.000000,2.150000,29.956511,29.956511
10799,0,21.890000,41.900000,20.790000,42.500000,23.200000,38.290000,20.290000,42.400000,19.890000,...,20.000000,42.230000,13.550000,752.050000,71.500000,6.333333,40.000000,8.366667,38.867774,38.867774
2732,0,20.890000,43.760000,20.600000,42.760000,20.290000,44.663333,18.890000,45.060000,17.700000,...,16.356667,46.656667,6.200000,752.433333,81.333333,6.000000,40.000000,3.233333,6.640901,6.640901

In [38]:
data_test = prepfit.transform(x_test)
data_test

array([[ 0.        , 21.2       , 33.29      , ..., -2.66666667,
        42.01718009, 42.01718009],
       [ 0.        , 21.79      , 38.5       , ...,  2.8       ,
        24.62438011, 24.62438011],
       [ 0.        , 22.39      , 41.39      , ...,  4.45      ,
         3.7312596 ,  3.7312596 ],
       ...,
       [ 0.        , 18.66666667, 38.06      , ...,  1.8       ,
        16.401762  , 16.401762  ],
       [ 0.        , 21.39      , 37.9       , ...,  4.35      ,
        29.09457443, 29.09457443],
       [ 0.        , 22.1       , 36.4       , ...,  2.36666667,
        39.87876504, 39.87876504]])

In [ ]:
from sklearn.preprocessing import StandardScaler